.jazz-fest-banner{
    width: 95%;
    padding-top: 3px;
}

.lolla-banner{
    width: 100%;
    padding-top: 3px;
}

.top-banner{
    width: 105%;
    padding-right: 0px;
    padding-left: 0px;
    
   
}